/* font style for webpage poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* inter font style for webpage */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* manrope font style */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
}


:root {
    --primary-font-size: 0.875rem;
    --primary-poppins-font: "Poppins", serif;
    --heading-font-family: "Inter", serif;
    --heading-dark-color: rgba(10, 8, 38, 1);
    --heading-dark-2-color: rgba(24, 25, 31, 1);
    --heading-gray-color: rgba(58, 58, 58, 1);
    --primary-desc-color: rgba(120, 120, 133, 1);
    --button-color: rgba(224, 44, 109, 1);
    --dollor-color: rgba(0, 0, 0, 0.87);
    --inter-font: "Inter", serif;
    --feature-desc-color: rgba(108, 108, 108, 1);
}
/* shared style */
.display-flex {
    display: flex;
}
.primary-button {
    align-items: center;
    padding: 10px 24px;
    background-color: var(--button-color);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--primary-poppins-font);
    border: none;
    cursor: pointer;
}
.btn-radius {
    border-radius: 41px;
}
.primary-head {
    color: var(--heading-gray-color);
    font-size: 1.75rem;
    font-family: var(--primary-poppins-font);
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    margin-bottom: 30px;
}


/* header style */
header {
    margin: 90px 130px;
    margin-bottom: 100px;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.nav-title {
    justify-content: space-around;
    align-items: center;
    padding-left: 2rem;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    padding-left: 34px;
    color: var(--heading-gray-color);
    font-family: var(--primary-poppins-font);
    font-weight: 600;
}
.navbar-head {
    color: var(--heading-gray-color);
    font-size: 1.5rem;
    font-family: var(--primary-poppins-font);
}

/* Banner style */
.banner {
    justify-content: space-between;
    align-items: center;
}
.banner-content {
    max-width: 582px;
}
.banner-head {
    font-size: 3rem;
    font-family: var(--primary-poppins-font);
    color: var(--heading-gray-color);
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-desc {
    font-family: var(--primary-poppins-font);
    font-weight: 600;
    color: var(--heading-gray-color);
    font-size: 1rem;
    margin-bottom: 16px;
}
.btn-margin {
    margin-right: 8px;
}
.banner-picture {
    background-image: url('../images/Circle design.svg');
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: 30px 0; */
}





/* main section style */
main > section {
    margin-bottom: 100px;
}


/* logo section style */
.logo {
    width: min(100%, 1110px);
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}




/* Card section model */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.collection-container {
    width: min(100%, 1047px);
    margin-inline: auto;
    justify-content: center;
    align-items: center;
}
.card {
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}
.card-head {
    font-family: var(--primary-poppins-font);
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--heading-dark-2-color);
    /* line-height: 40px; */
    margin-bottom: 6px;
}
.card-number {
    font-family: var(--inter-font);
    font-size: 1.5rem;
    color: var(--dollor-color);
    font-weight: 400;
    /* line-height: 150%; */
}
.primary-desc {
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--primary-desc-color);
}
.more {
    align-items: center;
    justify-content: right;
    color: var(--button-color);
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--primary-poppins-font);
    gap: 8px;
    margin-top: 50px;
}


/* Feaure section model */
.feature {
    justify-content: space-between;
    align-items: center;
    width: min(100%, 1110px);
    margin-inline: auto;
    gap: 96px;
}
.feature-btn {
    align-items: center;
    padding: 10px 24px;
    background-color: var(--button-color);
    color: white;
    font-size: 1rem;
    font-family: var(--primary-poppins-font);
    font-weight: bold;
    cursor: pointer;
}
.feature-head {
    font-family: var(--primary-poppins-font);
    font-weight: bold;
    font-size: 2.1rem;
    margin-bottom: 16px;
}
.feature-desc {
    font-family: var(--primary-poppins-font);
    font-size: 1rem;
    font-weight: bold;
    color: var(--feature-desc-color);
    max-width: 500px;
}


/*  footer style */
.footer-icon img {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 50%;
}
.footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #0a0826;
}
.footer-head {
    margin-bottom: 0 0 3px 0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--primary-poppins-font);
}
.footer-desc {
    font-family: "Manrope", serif;
    margin: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 0.875rem;

}


/* Media Quary for small device */
@media screen and (max-width: 768px) {
    .navbar, .nav-title {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header {
        margin: 5px;
    }
    .banner {
        flex-direction: column-reverse;
        max-width: 440px;
    }
    .banner-picture {
        width: 280px;
    }
    .banner-img {
        width: 100%;
    }
    .banner-content {
        text-align: center;
        width: 100%;
    }
    .banner-head {
        font-size: 1.75rem;
    }
    .banner-desc {
        font-size: var(--primary-font-size);
    }
    .btn-radius {
        margin: 0 auto;
    }
    .card-container {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 24px;
        width: 100%;
        margin: 8px;
    }
    .card {
        max-width: 370px;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    /* .star-icon {
        display: flex;
        flex-direction: column;
    } */
    
    .collection-container {
        max-width: 380px;
        justify-content: center;
    }
    .logo {
        margin-top: 50px;
        gap: 20px;
        /* max-width: 276px; */
        height: 61px;
    }

    .feature {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    } 
    .feature-btn {
        margin: 0 auto;
    }
    .feature-desc {
        max-width: auto;
    }
    .featur-image {
        width: 100%;
    }
    nav ul li a {
        padding-left: 0;
    }
    .nav-title {
        padding-left: 0;
    }
}